html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, form, label, article, footer, side-bar, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, footer, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

body {
	-webkit-text-size-adjust: none;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #fff;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

body {
	color: #a2a2a2;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 400;
	line-height: 1.75em;
}

a {
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	color: white;
	text-decoration: none;
}

a:hover {
	border-bottom-color: transparent;
	text-decoration: none;
	color: #ff6666;
}


a i{
	color: gray;
}

a i:hover{
	color: white;
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

p {
	margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #787878;
	font-weight: 400;
	line-height: 1em;
	margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
}

ul {
	margin: 0 0 2em 0;
}

ul li {
	padding-left: 0.5em;
}

#main {
	margin-left: 35%;
	max-width: 54em;
	padding: 2em 4em 4em 4em;
	width: calc(100% - 35%);
}

#main > section {
	border-bottom: solid 2px #efefef;
	padding: 1em 0 1em 0;
}

@media screen and (max-width: 1280px) {
	#main {
		margin-left: 30%;
		max-width: none;
		padding: 2em 3em 3em 3em;
		width: calc(100% - 30%);
	}
}

@media screen and (max-width: 980px) {
	#main {
		margin: 0;
		padding: 2em 2em;
		width: 100%;
	}
}

@media screen and (max-width: 736px) {
	#main {
		padding: 2.25em 1.5em 0.25em 1.5em;
	}
	#main > section {
		margin: 1em 0 0 0;
		padding: 1em 0 1em 0;
	}
}

#side-bar {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: -moz-flex-end;
	-webkit-align-items: -webkit-flex-end;
	-ms-align-items: -ms-flex-end;
	align-items: flex-end;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	background-attachment: scroll,fixed;
	background-color: #101730;
	background-attachment: scroll, fixed;
	/*background-image: url("./overlay.png");*/
	background-position: top left,top left;
	background-repeat: repeat,no-repeat;
	background-size: auto, auto 100%;
	color: rgba(255, 255, 255, 0.5);
	/*background: #101730;*/
	height: 100%;
	left: 0;
	padding: 8em 4em;
	position: fixed;
	text-align: right;
	top: 0;
	width: 35%;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

#side-bar > * {
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	width: 100%;
	text-align: center;
}

#side-bar h1 {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.35em;
	line-height: 1.75em;
	margin: 0;
	text-transform: uppercase;
}

#side-bar i{
	margin-left: .5em;
	margin-right: .5em;
	cursor: pointer;
}

#side-bar i a{
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

#side-bar .image.avatar {
	margin: 0 0 1em 0;
	width: 8.25em;
}

@media screen and (max-width: 1280px) {
	#side-bar {
		padding: 6em 3em 3em 3em;
		width: 30%;
	}
	#side-bar h1 {
		font-size: 1.25em;
	}
}

@media screen and (max-width: 480px) {
	#side-bar {
		padding: 4.5em 1.5em;
	}
}

.contact-flex{
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: -moz-flex-start;
	-webkit-align-items: -webkit-flex-start;
	-ms-align-items: -ms-flex-start;
	align-items: flex-start;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	text-align: center;
	padding-left: 1em;
}

@media screen and (max-width: 980px){
	.contact-flex{
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-moz-align-items: -moz-center;
		-webkit-align-items: -webkit-center;
		-ms-align-items: -ms-center;
		align-items: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
	}
}

#menu-bar ul{
	cursor: default;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	top: 0;
	z-index: 10000;
	border-bottom: solid 2px #efefef;
	margin: 0em;
	padding: 0em;
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
	padding-bottom: 1em;
	padding-top: 1em;
}

#menu-bar ul li{
	display: inline-block;
	margin: 0em 1em 0em 1em;
	text-align: center;
}

#menu-bar > ul > li:nth-child(1) {
	-moz-transition-delay: 0.45s;
	-webkit-transition-delay: 0.45s;
	-ms-transition-delay: 0.45s;
	transition-delay: 0.45s;
	margin-left: 0em;
}

#menu-bar > ul > li:nth-child(2) {
	-moz-transition-delay: 0.65s;
	-webkit-transition-delay: 0.65s;
	-ms-transition-delay: 0.65s;
	transition-delay: 0.65s;
}

#menu-bar > ul > li:nth-child(3) {
	-moz-transition-delay: 0.85s;
	-webkit-transition-delay: 0.85s;
	-ms-transition-delay: 0.85s;
	transition-delay: 0.85s;
}

#menu-bar > ul > li:nth-child(4) {
	-moz-transition-delay: 1.05s;
	-webkit-transition-delay: 1.05s;
	-ms-transition-delay: 1.05s;
	transition-delay: 1.05s;
}

#menu-bar > ul > li:nth-child(5) {
	-moz-transition-delay: 1.25s;
	-webkit-transition-delay: 1.25s;
	-ms-transition-delay: 1.25s;
	transition-delay: 1.25s;
}

#menu-bar > ul > li:nth-child(6) {
	-moz-transition-delay: 1.45s;
	-webkit-transition-delay: 1.45s;
	-ms-transition-delay: 1.45s;
	transition-delay: 1.45s;
}

#menu-bar ul li a {
	-moz-transition: color 0.2s ease;
	-webkit-transition: color 0.2s ease;
	-ms-transition: color 0.2s ease;
	transition: color 0.2s ease;
	border: 0;
	color: rgba(255, 255, 255, 0.35);
	font-size: 0.7em;
	font-weight: bold;
	letter-spacing: 0.25em;
	line-height: 1.75;
	outline: 0;
	padding: 1.35em 0;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	color: gray;
}

#menu-bar  > ul > li > a:hover {
	color: rgba(255, 255, 255, 0.55);
  color: #233269;
}

.resume{
	padding: 2em;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin-top: 1em;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	font-size: .8em;
	text-align: left;
	line-height: 1.7em;
}

.res-type{
	color: black;
	text-align: center;
	padding-bottom: 1em;
	font-weight: bold;
}

.res-title{
	background: lightgray;
	color: black;
	border-top: 1px solid gray;
	font-size: .9em;
	padding-left: .5em;
	width: 100%;
}

.res-info{
	color: black;
	padding: .5em;
}

.res-info-title{
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-moz-align-items: -moz-flex-end;
	-webkit-align-items: -webkit-flex-end;
	-ms-align-items: -ms-flex-end;
	align-items: flex-end;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.res-bold{
	font-weight: bold;
}

.res-date{
	text-align: right;
}

.resume ul{
	margin-left: 1.5em;
}

.resume ul li{
	list-style-type: disc;
}


@media screen and (max-width: 480px) {
	.res-info-title{
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-align-items: -moz-center;
		-webkit-align-items: -webkit-center;
		-ms-align-items: -ms-center;
		align-items: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
	}
	.res-degree{
		text-align: center;
	}
	.res-date{
		text-align: center;
	}
}

#education{
	text-align: center;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: -moz-center;
	-webkit-align-items: -webkit-center;
	-ms-align-items: -ms-center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.education-flex{
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-moz-align-items: -moz-center;
	-webkit-align-items: -webkit-center;
	-ms-align-items: -ms-center;
	align-items: center;
	-moz-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
	width: 100%;
}

@media screen and (max-width: 736px) {
	.education-flex{
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-align-items: -moz-center;
		-webkit-align-items: -webkit-center;
		-ms-align-items: -ms-center;
		align-items: center;
		-moz-justify-content: flex-start;
		-webkit-justify-content: flex-start;
		-ms-justify-content: flex-start;
		justify-content: flex-start;
		width: 100%;
	}
}


.pics{
	width: 20%;
	text-align: center;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: -moz-center;
	-webkit-align-items: -webkit-center;
	-ms-align-items: -ms-center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	height: 300px;
}

.info{
	width: 80%;
	padding-left: 1em;
	text-align: left;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: -moz-flex-start;
	-webkit-align-items: -webkit-flex-start;
	-ms-align-items: -ms-flex-start;
	align-items: flex-start;
	-moz-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
	height: 300px;
}

.inner-info{
	font-size: .9em;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items:center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.title{
	text-align: left;
	color: #101730;
	font-size: 0.7em;
	font-weight: bold;
	letter-spacing: 0.25em;
	line-height: 1.75;
	outline: 0;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
	display: block;
	padding-bottom: 1.5em;
}

#ed-logo{
	display: block;
}

img#ed-logo{
	width: 120px;
	height: 120px;
}

#ed-stick{
	background: gray;
	width: 1px;
	height: 30px;
}

#ed-outer{
	margin-top: .5em;
	margin-bottom: .5em;
}

.image {
	border-radius: 0.35em;
	border: 0;
	display: inline-block;
	position: relative;
}

.image:before {
	-moz-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	background: url("./overlay.png");
	border-radius: 0.35em;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
}

.image img {
	border-radius: 0.35em;
	display: block;
}

.image.avatar {
	border-radius: 100%;
}

.image.avatar img {
	border-radius: 100%;
	width: 100%;
}

ul.nav.nav-tabs li a{
  background: #fefefe;
  border: 1px solid lightgray;
  color: gray;
  cursor: pointer;
  font-size: .75em;
  margin-right: 1em;
  padding: 1em 2em .75em 2em;
  text-transform: uppercase;
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s, background .5s, ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out -moz-transform 2s;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s, background .5s, ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out -webkit-transform 2s;
  -ms-transition: color 0.2s ease-in-out, background-color 0.2s, background .5s, ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out -ms-transform 2s;
  transition: color 0.2s ease-in-out, background-color 0.2s, background .5s, ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out transform 2s;
  -webkit-transition: background .5s, color 2s, border .15s linear, -webkit-transform 2s;
  transition: background .5s, transform 2s, color 2s, border .15s linear, -webkit-transform 2s;
}

ul.nav.nav-tabs li a:hover{
	background: rgba(36,41,67, .374);
}

ul.nav.nav-tabs li.active a {
	background: rgba(36,41,67, .74);
	color: white;
  cursor: pointer;
  text-transform: uppercase;
}

ul.nav.nav-tabs li.active a:hover {
	background: rgba(36,41,67, .74);
}

@media screen and (max-width: 736px) {
	ul.nav.nav-tabs li a{
	  font-size: .7em;
	  margin-right: .2em;
	  padding: 1em .8em .75em .8em;
	}
}

ul.alt {
	list-style: none;
	padding-left: 0;
}

			ul.alt li {
				border-top: solid 2px #efefef;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}


@media screen and (max-width: 1800px) {
	body{
		font-size: 12pt;
	}
}

@media screen and (max-width: 980px) {
	#side-bar {
		background-attachment: scroll;
		background-position: top left, center center;
		background-size: auto, cover;
		left: auto;
		padding: 6em 4em;
		position: relative;
		text-align: center;
		top: auto;
		width: 100%;
		display: block;
	}
	#side-bar h1 {
		font-size: 1.75em;
	}
	#side-bar h1 br {
		display: inline;
	}
}

@media screen and (max-width: 736px) {
	h1 {
		font-size: 1.5em;
	}
	#side-bar {
		padding: 2.25em 1.5em;
	}
	#side-bar h1 {
		font-size: 1.35em;
	}
}
